body {
  background-color: #faf2ff;
}

.custom-shadow {
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
}

.custom-border {
  border-bottom: 4px solid #d9539c;
  padding-bottom: 4px;
  margin-bottom: -4px;
}
